<header id="header">
    <div class="container">
        <a routerLink="/home">
            <img [src]="crownIcon">
        </a>
        <ul>
            <li>
                <a *ngIf="!isLoggedin()" routerLink="/login">Login</a>
            </li>
            <li>
                <a *ngIf="isLoggedin()" routerLink="/logout" (click)="logout ()">Logout</a>
            </li>
            <li>
                <a routerLink="/admin">
            <i class="fa fa-lock"></i>
            </a>
            </li>
            <li>
                <a routerLink="/cart">cart 
                    <span class="fa fa-cart-plus"></span>
                    <span *ngIf="cartItems> 0" class="badge bg-danger">{{cartItems}}</span>
                </a>
            </li>
        </ul>
    </div>
</header>
