<header id="header">
    <div class="container">
        <a routerLink="/">
            <img [src]="crownIcon">
        </a>
        <ul>
            <li>
                <a routerLink="/login">Login</a>
            </li>
            <li>
                <a routerLink="/signup">Sign Up</a>
            </li>
            <li>
                <a routerLink="/ 
                signup">admin 
            <i class="fa fa-lock"></i>
            </a>
            </li>
            <li>
                <a routerLink="/cart-page">cart 
                    <span class="fa fa-shopping-cart">3</span>
                </a>
            </li>
        </ul>
    </div>
</header>
