<header id="header">
    <div class="container">
        <a routerLink="/home">
            <img [src]="crownIcon">
        </a>
        <ul>
            <li>
                <a *ngIf="isLoggedin()" routerLink="/logout" (click)="logout ()">Logout</a>
            </li>
            <li>
                <a routerLink="/admin"
                *ngIf="isLoggedin()">
            <i class="fa fa-lock"></i>
            </a>
            </li>
            <li>
                <span
                *ngIf="isLoggedin()" class='fa fa-heart' routerLink="/wishlist"></span>
                <span *ngIf="favoraiteItemsLength> 0 " class="badge bg-danger">{{favoraiteItemsLength}}</span>
            </li>
            <li>
                <a *ngIf="isLoggedin()" class="cart" data-toggle="modal" (click)="open()">cart
                    <span class="fa fa-cart-plus"></span>
                    <span *ngIf="cartItems> 0" class="badge bg-danger">{{cartItems}}</span>
                </a>
            </li>
        </ul>
    </div>
</header>
