header{
   position: relative;
   background-color:#f582e5;
   padding: 0;
   border-bottom: 1px solid #d95dd1;
}

img{
    fill: beige;
}

a{
    text-decoration: none;
    color: beige;
}

.container{
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    margin: 0;
    list-style-type: none;
}

ul a{
    padding: 1rem;
    display: inline-block;
}

.badge {
    font-size: xx-small;
}