header{
   position: relative;
   /* background-color:#5212FF ; */
   background: linear-gradient(to right,#293A54 10%,#C15AFF 40%);
   padding: 0;
   border-bottom: 1px solid none;
   height: 60px;
}

img{
    fill: beige;
    margin-top: 5px;
    margin-left: 60px;
}

a{
    text-decoration: none;
    color: beige;
}

.container{
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    margin: 0;
    list-style-type: none;
}

ul a{
    padding: 1rem;
    display: inline-block;
}

.badge {
    font-size: xx-small;
}

.fa-heart{
    color: beige;
    margin-top: 18px;
}

li {
    margin-left: 30px;
}