.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 10%;
    /* margin-top: 55px; */
    height: 100%;
    background: #293A54;
    padding-top:40px ;
    .sidebar-items{
        color :beige;
        padding: 10px;
        cursor: pointer;
        margin-left: 30px;
        margin-top: 40px;
    }
    .sidebar-items-active {
        background-color: aquamarine;
        color :black;
        padding: 10px;
        cursor: pointer;
        margin-left: 30px;
        margin-top: 40px;
    }
}

