h4{
  color: blueviolet;
  align-items: center;
}


.card{
  height: 60vh;
  margin:auto;
  padding: 25px;

}

.center{
  text-align: center;
}

h6 {
  font-weight: small;
}

center .btn{
  font-size: small;
  border-radius: 3px;
  font-weight: 300;
}


.image{
  width: 120px;
}

.custom-class{
 margin-right: 0;

}

 .fa .fa-heart-o {
  color :red;
  cursor: pointer;
}

a{
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

a:hover{
  font-size: xx-large;
  text-transform:uppercase;
}

 .screen-image{
  margin-top: 80px;
 }
 .fa {
   color: red;
 }