*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}

.container {
    width: 100%;
    justify-content: center; 
}
 h1{
     text-align: center;
     color: #c2a8e3;
 } 

table,th,td {
    padding: 15px;
}

th{
    font-size:small;
    font-weight: bolder;
}

td{
    font-size: smaller;
    font-weight: bold;
}

.table-header{
    width: 100%;
    height:10% ;
    background-color:#ded1f0;
}

.table-body{
    width: 100%;
    background-color: #c2a8e3;
}

