
.center{
    text-align: center;
}

h4,h6 {
    font-weight: small;
    color: #3A66DC;
}

center .btn{
    font-size: small;
    border-radius: 3px;
    font-weight: 300;
}

.btn{
    background-color: #C15AFF;
    color: beige;
}


img{
    width: 120px;
}

.custom-class{
  position: fixed;
  margin: auto;
  overflow-y: initial !important
}

 .fa-trash {
   color: red;
}

.fa-heart{
    color: red;
}

.fa-heart-o {
    color :red;
    cursor: pointer;
}

.fa-shopping-bag{
    color: #3A66DC;

}

.modal-dialog{
    overflow-y: initial !important
}
.card{
    height: 500px;
    overflow-y: auto;
}