<ng-container *ngIf="products.length ==0"  >
    <div >
        <div class="center">
          <div>
            <i class='fa fa-shopping-bag fa-fw fa-3x'></i>
            <h4>Your cart is empty.</h4>
          </div>
            <h6>Add item to it now</h6>
            <button routerLink="/products" class="btn" (click)="close()">Shop Now</button>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="products.length!=0">
  <div class="custom-class">
    <div class="card">
        <div class="product">
            <table class="table">
               <thead>
                 <tr>
                    <th>Product name</th>
                    <th>Product Image</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                 </tr>
               </thead>
               <tbody>
                 <tr *ngFor="let product of products ">
                    <td>{{product.title}}</td>
                    <td><img src="{{product.imageUrl}}" alt="{{product.title}}"></td>
                    <td>{{product.price | currency :'EUR'}}</td>
                    <td><select [(ngModel)]="product.quantity" (click)="changeQuantity(product.id,product.quantity)">
                      <option value="1" >1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select></td>
                    <td>{{(product.price*product.quantity).toFixed(2) | currency :'EUR'}}</td>
                    <td>
                      <i  *ngIf="!product.favoraite"  class='fa fa-heart-o ' aria-hidden="true" (click)="addItemToWishList(product)" ></i> 
                    </td>
                    <td>
                      <i *ngIf="product.favoraite" class="fa fa-heart" (click)=" 
                      removeItemFromWishList(product)"></i> 
                    </td>
                      <td>
                        <i class='fa fa-trash' aria-hidden="true" (click)="removeProduct(product)" ></i>
                    </td>
                 </tr>
                 <tr>
                  <td>
                    <button class="btn btn-danger" (click)="removeAllProducts()" >Delete All Items</button>
                  </td>
                  <td>
                    <button class="btn btn-primary" (click)="addItems()">Add more item</button>
                  </td>
                  <td > <strong>Total : {{total | currency :'EUR'}}</strong> </td>
                 </tr>
               </tbody>
            </table>
        </div>
    </div>
  </div>
</ng-container>