
.center{
    text-align: center;
}

h4,h6 {
    font-weight: small;
}

center .btn{
    font-size: small;
    border-radius: 3px;
    font-weight: 300;
}


img{
    width: 120px;
}

.custom-class{
  position: fixed;
  margin: auto;
  
}

 .fa-trash {
   color: red;
}
.fa-heart{
    color: red;
}
.fa-heart-o {
    color :red;
    cursor: pointer;
}
