  <app-search (showCategory)=" onShowSelectedCategory($event)" ></app-search>
  <div>
    <ng-container *ngIf="productsList$ |async as products"> 
      <div class="container">
        <div class="row">
            <div class="culomn">
            <div *ngFor="let product of products |slice: (page-1) * pageSize : page * pageSize" class="card">
                <img class="card-img-top" src={{product.imageUrl}} alt={{product.title}}>
                <div class="card-body">
                <h5 class="catd-title">{{ product.title}}</h5>
                <p>{{ product.price | currency :'EUR' }} </p>  
                </div>
                <div class="button">
                    <button (click)="addItemToCart (product)" class="btn btn-primary" >Buy now</button>
                </div>     
            </div>
         </div>
        </div>
        <ngb-pagination class="d-flex justify-content-center"
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="products.length"
        ></ngb-pagination>
       </div>
        </ng-container> 
       <router-outlet></router-outlet>
      
      
     
    
