img{
    width: 100px;
    height: auto;
    margin-bottom: 15px;
    align-items: center;
    flex: auto;
  
}

.card {
    display: flex;
    padding: 20px;
    margin: 15px;
    border: 1px solid #f582e5;

}


.btn{
    background-color: #f582e5;
    font-size:16px;
    color:beige;
    margin:0 8px;
}

span{
    font-size: medium;
}



