img{
    width: 100px;
    height: auto;
    margin-bottom: 15px;
    align-items: center;
    flex: auto;
  
}

.card {
    display: flex;
    padding: 20px;
    margin: 15px;
}


.btn{
    background:rgb(0, 149, 255);
    font-size:16px;
    color:#fff;
    margin:0 8px;
}

span{
    font-size: medium;
}

