img{
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    align-items: center;
    flex: auto;
  
}

.culomn{
    display: flex;
    flex-direction: row;
    width: 100%;
}

 .card { 
    padding: 20px;
    margin: 15px;
    border: 1px solid #f582e5;
    color: blueviolet;
    width: 50%;    
} 


 .btn{
    background-color: #f582e5;
    font-size:16px;
    color:beige;
    margin:0 8px;
}

span{
    font-size: medium;
}  



