.outer{
    height: 100vh;
}

.panel{
    border: 1px solid #f582e5;
    min-height: 380px;
    box-shadow: 20px 20px 80px rgb(218, 218, 218);
    border-radius: 12px;
    margin-top: 100px
}

.panel-heading {
    text-align: center;
    margin-bottom: 10px;
    color: #f582e5;
    
}

#forgot {
    min-width: 100px;
    margin-left: auto;
    text-decoration: none;
    cursor: pointer;
}

.btn {
    margin-top: 20px;
    border-radius: 15px;
    background-color: #f582e5;
    color: beige;
}


.fa{
    color: #f582e5;
}

.input-field {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #4343ff
}

.input-field.error {
    border: 1px solid red;
    color: red;
}

input[type='text'],
input[type='password'] {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%
}

a{
    text-decoration: none;
    color: #f582e5;
    
 }
